@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");



:root {
	--grey-200: #222;
	--gray-800: #888888; 
	--primary-color: #7F98A3;
	--primary-color: #c2d7da;
	--primary-color-variant: #99bdc1; 
	--primary-darkened: #015d67;
  }html


body {
	background: #56CCF2;  /* fallback for old browsers */
	font-family: Source Sans Pro;
	/*background-image: url('https://images.pexels.com/photos/6923/mountains-fog-green-beauty.jpg?'); */
	background: rgb(194,215,218);
	/*background: linear-gradient(90deg, #7F98A3 0%, #c2d7da 100%);*/
	background-size: 100%; 
	background-repeat: no-repeat;
	margin-top: 0px; 
}

.shortcut{	
    padding: 3px;
	margin-top: 3px;
	margin-right: 3px; 
	margin-left: 3px;
    width: 24px;
    height: 24px; 
    border-radius: 100%; 
	text-align: center; 
	box-shadow: none;
	visibility: visible;
    color: white;
	animation: flash 0.4s ease;
}

::-webkit-scrollbar {
    display:none;
}

#logo{
	padding: 24px; 
	padding-left: 36px;
	padding-top: 12px; 
	width: auto; 
	height: 30px; 
	position: fixed;
	width: 100%; 
}

h1{
	color: white; 
	font-size: 30px;
	text-align: left; 
	font-weight: 800; 
}

h2{
	font-size: 18px;
	color: white; 
}
p{
	color: #12121288; 
}

p2{
	color: white; 
}
a{
	color: #ffffffaa;
	text-decoration: none; 
	cursor: pointer; h
}
a:hover{
	text-decoration: underline; 
	color: white; 
}

#getting-started, #onboarding {
	width: 100%;
	text-align: center;
    margin-top: 36vh;
}

#madeWithLove{
	color: white;
	position: fixed;
	bottom: 0; 
	text-align: center; 
	padding: 12px; 
	margin: 12px; 
	width: calc(100% - 48px); 
}

.error{
	color: pink; 
	text-align: center; 
}


@import ('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
head{
	height: 0;
	width: 0;
	padding: 0;
	margin: 0; 
}

body{
	display: flex; 
	font-family: Source Sans Pro, Arial, Sans; 
	padding: 0;
	margin: 0; 
}

.card{
	display: flex; 
	flex-direction: column;
	width: calc(100% - 36px); /*-30px is padding (-10) * 2 +12 */
	max-width: 240px;
	padding: 12px;
	margin-top: 6px; 

	background: #fff;
    box-shadow: 0px 1px 2px #00000011;
	border-radius: 2px; 
	cursor: pointer; 

    font-size: 14px;
	line-height: 18px;
	word-break: break-word;
}

.card:drop{
	background: red;
}

.bucket:drop{
	background:purple;
}

.cardText{
	max-height: 100px; 
	height: auto;
	min-height: 20px; 
    text-overflow: hidden;
    overflow: hidden;
}

.blueCard{
    color: white;
    background-color: #626dff !important; 
    text-align: center;
}
.pinkCard{
	color: black; 
	background-color:#FFABD3 !important; 
	text-align: center; 
}
.greenCard{
	color: black; 
	background-color: #c8ec74 !important;
	text-align: center; 
}

.card:nth-child(2){
    background: rgb(255, 255, 196);
    /*height: 100px; */
}

.card:last-child{
	margin-bottom: 6px;
}


.tags{
	padding-bottom: 3px; 
	padding-top: 3px; 
	color: #777;
	margin-top: 12px;
	display: block;
	/* For hiding tags
	font-size: 10px; 
	color: #ddd;
	position: absolute; 
	bottom: 0; 
    /*display: none; */
}

.tags:hover{
	color: black; 
}

.tag{
	padding: 6px;
	margin: 3px; 
	background: #ddd;
	border-radius: 2px;
	color: black;
	font-size: 12px; 
	border: 0px solid transparent;
}

#backgroundCover{
	width: 100vw;
	height: 100vh; 
	position: fixed;
	top: 0; 
	left: 0; 
	background: #00000044; 
}

#modalCard{
	width: 400px; 
	height: auto;
	min-height: 100px;
	background: #eee; 
	position: fixed; 
	top: 50%;
	left: 50%; 
	margin-left: -200px; 
	margin-top: -265px; 
	display: flex; 
	flex-direction: column; 
	max-width: 90vw; 
	max-height: 70vh; 
	padding: 12px;
	border-radius: 2px; 
}

#modalCardOptions{
	overflow: scroll; 
	background: white; 
	margin-bottom: 60px;
	border-radius: 2px; 
}

#modalButton{
	width: 380px;
	margin: 12px; 
	height: 48px;
	line-height: 48px; 
	position: absolute;
	bottom: 0; 
	text-align: center; 
	border: 1px solid black; 
	border-radius: 5px;  
	color: white; 
	background: #323232;
	cursor: pointer; 
	text-transform: uppercase;
	font-weight: 600; 
}

#modalButton:hover{
	background: #212121;
}

#x{
	font-size: 24px; 
	font-family: Arial; 
	line-height: 24px; 
	height: 24px; 
	cursor: pointer; 
	text-align: right; 
	width: 100%;
}

#modalCardMessage{
	padding: 12px; 
    margin: 12px; 
	overflow: scroll; 
	background: white; 
}

#modalCardTags{
	margin-left: 12px;
	margin-right: 12px;
	bottom: 36px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: start; 
}

.modalCardActions{
	margin: 12px;
	margin-top: 6px; 
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;
	font-size: 12px; 
}

.bucket{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width: 330px; /*Setting a default, maybe change this later*/
    min-width: 196px; 
	min-height: 36px;
	height: 100%; 
    background: #00000022; 
    margin: 6px; 
    border-radius: 6px; 
	overflow: scroll; 
}

.hover-bucket{
	background: #ddd; 
}

.bucketActions{
	width: 100%;
	margin-left: 6px;
	margin-right: 6px;
	color: white;
	text-align: center; 
	display: flex;
	align-items: baseline; 
}

.bucketActions div:last-child {
	margin-left: auto;
  }

.cardCount{
	font-size: 12px; 
}

.addNewCard{
	float: right; 
	cursor: pointer; 
	margin: 3px; 
	padding: 3px;
}
.addNewCard:hover{
	text-decoration: underline; 
}
#bucket0{

	display: block; 
	position: fixed;
	left: 0;
	background: rgb(194,215,218);
	background: linear-gradient(45deg, #d5e4e6 0%, #7F98A3 100%);
	width: 260px;
	border-radius: 0;
	top: 0;
	margin: 0;
	padding: 24px;
	height: 100vh;
	box-shadow: 0px 4px 16px #00000066;
	align-items: center;
	color: black;
	padding-top: 0;

}
#bucket0 .card{
	height: auto; 
	max-height: 280px;
	opacity: 60%;
}

#bucket0 .card:hover{
opacity: 1;
}

#bucket0 .card:nth-child(2){
	opacity: 1;
}



#bucket1{
	margin-left: 354px;
}

#modalCardDelete{
	color: red; 
}

.modalCardAction{
	cursor: pointer;
	padding-left: 12px;
	color: black;
}

.modalCardAction:hover{
	text-decoration: underline;
	cursor: pointer; 
}

#modalCardTitle{
	padding: 12px;
	font-size: 18px;
	font-weight: 600; 
}

.selectionOption{
	padding: 6px;
	padding-left: 12px; 
	padding-right: 12px; 
	border-radius: 2px; 
	width: auto; 
	margin-right: 12px; 
	cursor: pointer; 
	border: 1px solid transparent; 
	border-left: 2px solid transparent; 
}

.selectionOption:hover{
	background: #eee; 
}

.selectedOption{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Check_mark_23x20_04.svg/1178px-Check_mark_23x20_04.svg.png);
	background-image: url(http://pluspng.com/img-png/tick-box-png-checked-checkbox-icon-png-50-px-1600.png);
	
	background-color: rgb(127, 201, 218);
	background-size: 12px; 
	background-position: right; 
	background-repeat: no-repeat;
	font-weight: 600; 
	border-left: 2px solid black; 
}

.selectedOption:hover{
	background-image: url(http://pluspng.com/img-png/tick-box-png-checked-checkbox-icon-png-50-px-1600.png);
	background-size: 12px;
	background-position: right; 
	background-repeat: no-repeat;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#global-actions{
	position: fixed;
	bottom: 36px;
	right: 48px; 
	display: flex; 
	justify-content: flex-end; 
	background: var(--primary-darkened);
	border-radius: 36px;	
	box-shadow: 0px 4px 16px #00000066;
	padding: 12px;
}

.floating-button{    
	color: #ffeeee;
	background-color: var(--primary-color); 
    text-align: center; 
	width: 48px;
	height: 48px; 
	border-radius: 100%; 
	font-size: 24px;
	line-height: 48px;     
	box-shadow: 0px 2px 16px #00000022;
	cursor: pointer; 
	visibility: hidden; 
	z-index: 2; 
	margin-left: 6px;
	margin-right: 6px;

}

.floating-button:hover{
	background-color: var(--primary-darkened); 
}


#submit-file{
	margin: 12px;
	font-size: 18px;
	padding: 12px;
	width: 100%;
	border-radius: 30px; 
	color: var(--primary-color); 
	cursor: pointer; 
	background: white; 
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 130px; 
}

#submit-file:hover{
	color: #788997;  
}


.color-compress{
	border-left: 3px solid #F23030; 
}
.color-convert{
	border-left: 3px solid #FF4C23; 
}
.color-ppt{
	border-left: 3px solid #FF9F19;
}
.color-jpg{
	border-left: 3px solid #EBC50C;
}
.color-excel{
	border-left: 3px solid #74D941; 
}
.color-edit, color-delete{
	border-left: 3px solid #0FC0C5; 
}
.color-word-light{
	border-left: 3px solid #0FC0C5;
}
.color-word{
	border-left: 3px solid  #3D99F5; 
}
.color-merge{
	background: 3px solid #7961F2; 
}
.color-split{
	border-left: 3px solid #9966FF;
}
.color-rotate{
	border-left: 3px solid #B366FF;
}
.color-sign{
	border-left: 3px solid #E667E6;
}
.color-unlock{
	border-left: 3px solid #FF59AC;
}
.color-protect{
	border-left: 3px solid  #FF5975;
}



@keyframes flash {
    0% {
		background: #ffffff33; 
    }
	
	30%{
		background: #ffffff33; 
	}
    100% {
      	transform: translateY(0);
		background: transparent; 
    }
}

@media print {

	body {
	  margin: 0;
	  color: #000;
	  background-color: #fff;
	  max-width: calc(210mm - 10mm); /*Roughly an A4 page minus margins*/
	  display: flex;
	  flex-wrap: wrap;
	}

	.card{
		max-height: none !important;
		min-height: none !important;
	}

	.cardText{
		max-height: none !important;
		min-height: none !important;
	}

	.bucket{
		width: 50mm;
		min-width: 40mm;
		padding: 0;
		margin: 0;
	}

	.bucketActions{
		visibility: hidden;
	}

	.tags{
		font-weight: bold;
		margin-top: 12px;
		display: none;
	}

	.floating-button{
		display: none;
	}
  
  }